<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 id="myModalLabel">Please confirm your password</h4>
</div>

<form class="form-horizontal confirm-password-form" name="formCancelSubscriptionDialog" novalidate>
    <div class="modal-body">
        <div alert ng-repeat="alert in alerts" type="alert.type">{{ alert.msg }}</div>

    </div>
    <div class="control-group">
        <div class="control-label">
            Password
        </div>
        <div class="controls">
            <input type="password" ng-model="creds.password"/>
        </div>
    </div>
    <div class="modal-footer">
        <a ng-click="close()">Close</a>
        <button class="btn btn-primary" type="submit" ng-click="sendPassword()">Send</button>
    </div>
</form>