<div class="container-fluid" ng-controller="AccountSubscriptionController">
    <div class="page-header"><h3>Subscribe today to find more deals and improve your productivity.</h3></div>
    <h5>REscour is the only application built specifically for institutional investors trying to find and track multi-family listings.</h5>
    <p>Want to see our application in action?  Visit our <a href="http://demo.rescour.com" target="_blank">demo application</a>. Have questions? Email us at <a href="mailto:info@rescour.com">info@rescour.com</a> or call 1-(888)-237-0445.</p>
    <div class="row-fluid">
        <div class="span3 plan-basic">
            <h2>Individual</h2>

            <div class="price">
                <div class="amount">
                    <span class="currency">$</span><span class="currency-amount">349</span>

                    <div class="period">Monthly</div>
                </div>
            </div>
            <ul>
                <li><i class="icon-ok"></i> Access for 1 user</li>
                <li><i class="icon-plus"></i> $150/additional user/month</li>
                <li><i class="icon-ok"></i> Billed monthly</li>
                <li class="plan-action">
                    <a href="javascript:" ng-show="!activePlan" ng-click="addSubscription('individual')"
                       class="btn btn-large plan-submit">Start 7 Day Trial</a>
                    <a href="javascript:" ng-show="activePlan == 'One Seat License'" ng-click="openCancelDialog()"
                       class="btn btn-large plan-submit plan-cancel">Cancel Subscription</a>
                </li>
            </ul>
        </div>
        <div class="span3 plan-group">
            <h2>Group</h2>

            <div class="price">
                <div class="amount">
                    <span class="currency">$</span><span class="currency-amount">599</span>

                    <div class="period">Monthly</div>
                </div>
            </div>
            <ul>
                <li><i class="icon-ok"></i> Access for up to 3 users</li>
                <li><i class="icon-plus"></i> $125/additional user/month</li>
                <li><i class="icon-ok"></i> Billed monthly</li>
                <li class="plan-action"><a href="javascript:" disabled class="btn btn-large plan-submit">Coming Soon</a>
                </li>
            </ul>
        </div>
        <div class="span3 plan-enterprise">
            <h2>Enterprise</h2>

            <div class="price">
                <div class="amount">
                    <span class="currency">$</span><span class="currency-amount">799</span>

                    <div class="period">Monthly</div>
                </div>
            </div>
            <ul>
                <li><i class="icon-ok"></i> Access for up to 5 users</li>
                <li><i class="icon-plus"></i> $75/additional user/month</li>
                <li><i class="icon-ok"></i> Billed monthly</li>
                <li class="plan-action"><a href="javascript:" disabled class="btn btn-large plan-submit">Coming Soon</a>
                </li>
            </ul>
        </div>

        <div class="span3 plan-unlimited">
            <h2>Unlimited</h2>

            <div class="price">
                <div class="amount">
                    <span class="currency">$</span><span class="currency-amount">999</span>

                    <div class="period">Monthly</div>
                </div>
            </div>
            <ul>
                <li><i class="icon-ok"></i> Access for unlimited users</li>
                <li><i class="icon-ok"></i> No additional user cost</li>
                <li><i class="icon-ok"></i> Billed monthly</li>
                <li class="plan-action"><a href="javascript:" disabled class="btn btn-large plan-submit">Coming Soon</a>
                </li>
            </ul>
        </div>
    </div>
</div>