$detailsHeaderColor: $light-gray;

.property-details {
  position: absolute;
  left: $filterWidth + $marketWidth;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: $light-gray;
  overflow-y: scroll;
  overflow-x: hidden;

  .page-header {
    h4 {
      font-weight: normal;
    }
  }

  .comment-alert {
    span {
      float: right;
      font-size: 13px;
    }
    p {
      overflow-wrap: break-word;
    }
  }

  @include rescourTabs;
}

.picture-container {
  width: 600px;

  .counter {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    width: auto;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    background: #222222;
    border: 3px solid white;
    @include border-radius(23px);
    opacity: 0.7;

    &:hover {
      opacity: 0.8;
      cursor: default;
    }
  }

  .carousel-inner {
    min-height: 40px;
  }

  .carousel-control {
    top: 50%;
  }

  .left, {
    left: -55px;
  }

  .right {
    right: -55px;
  }
}

.contact-selected strong {
  //background: lighten($light-green, 20%) !important;
  color: $blue;
}

.well.contact {
  cursor: pointer;
}

.contact-form {
  .controls {
    margin: 0 0 30px;
  }
  .checkbox {
    cursor: pointer;
  }
}

.finance-container {
  min-height: 400px;
  li {
    position: relative;
    display: block;
    height: auto;
    overflow: visible;

    .finance-delete {
      font-size: 20px;
      line-height: 20px;
      cursor: pointer;
      color: transparent;
      position: absolute;
      top: 15px;
      left: -20px;
      text-decoration: none;

      &:hover {
        color: darken($red, 20%);
      }
    }

    &:hover .finance-delete {
      color: $red;
      @include transition(all .2s ease-in);
    }

    .finance-box {
      display: inline-block;
      overflow-y: visible;
      margin: 10px;
      input[type="text"]:first-child:after {
        content: ":";
        padding: 10px;
      }
    }

    select {
      width: 60px;
    }
  }
}
