
.map {
  position: absolute;
  left: $filterWidth + $marketWidth;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.popup-dimensions {
  position: relative;
  padding: 10px;
  z-index: 2;

  .title {
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: $blue;
    cursor: pointer;
  }

  .ranges {
    position: relative;
    display: block;
    @include header_text;
  }

}
/** Map Markers **/
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.25s ease-out, opacity 0.25s ease-in;
  -moz-transition: -moz-transform 0.25s ease-out, opacity 0.25s ease-in;
  -o-transition: -o-transform 0.25s ease-out, opacity 0.25s ease-in;
  transition: transform 0.25s ease-out, opacity 0.25s ease-in;
}

.marker-cluster-small {
  //border: 2px solid rgba(241, 128, 23, 0.9);
}

.marker-cluster-small div {
  background-color: rgba(241, 128, 23, 1);
}

.marker-cluster-small:active > div {
  background-color: rgba(241, 128, 23, 1);
}

.marker-cluster-medium {
  //border: 2px solid rgba(102, 124, 148, 0.9);
}

.marker-cluster-medium div {
  background-color: rgba(102, 124, 148, 1);
}

.marker-cluster-medium:hover div {
  background-color: rgba(102, 124, 148, 1);
}

.marker-cluster-large {
  //border: 2px solid rgba(117, 158, 130, 0.9);
}

.marker-cluster-large div {
  background-color: rgba(117, 158, 130, 1);
}

.marker-cluster-large:hover > div {
  background-color: rgba(117, 158, 130, 1);
}

.marker-cluster {
  box-sizing: border-box;
  background-clip: padding-box;
  @include border-radius(50%);
}

.marker-cluster:hover > div {
  @include box-shadow(inset 0px 1px 5px rgba(68, 68, 68, 0.95));
  -webkit-transition: -webkit-box-shadow 0.1s;
  -moz-transition: -moz-box-shadow 0.2s;
  -o-transition: -o-box-shadow 0.2s;
  transition: box-shadow 0.2s;
}

.marker-cluster div {
  width: 32px;
  height: 32px;
  margin-left: 2px;
  margin-top: 2px;
  text-align: center;
  @include border-radius(50%);
}

.marker-cluster span {
  line-height: 33px;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: normal;
  color: white;
  text-shadow: -1px -1px 0px #666;
}