
<form class="form-horizontal">
    <label class="control-label">Username</label>
    <div class="controls"><input ng-blur="saveUserField()" type="text" class="input-xlarge" ng-model="user.username"></div>


    <label class="control-label">E-Mail</label>
    <div class="controls"><input type="text" class="input-xlarge" ng-model="user.email"></div>

    <label class="control-label">Phone Number</label>
    <div class="controls"><input type="text" class="input-xlarge" ng-model="user.phone"></div>

    <!--<field-change-listener model="user.username" label='Username'></field-change-listener>-->
</form>