<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4>Confirm Password</h4>
</div>
<div class="modal-body">
    <div class="row" ng-repeat="alert in confirmPasswordAlerts">
        <div class="col-lg-12">
            <div alert type="alert.type">{{ alert.text }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form name="formConfirmPassword" class="form-horizontal col-lg-12 gutter-top">
                <div class="form-group">
                    <label class="control-label col-lg-2">Password</label>

                    <div class="col-lg-8">
                        <input type="password" required autofocus autoselect
                               model-ignore="Untitled Search"
                               ng-model="creds.password">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="sendPassword()">Send</button>
</div>