@import 'details';
@import 'filter';
@import 'map';
@import 'slider';
@import 'list';
@import 'report';

.scroll-container {
  display: block;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
}

.report-form {
  position: relative;
  margin-top: 10px;
  min-height: 200px;
  overflow-y: scroll;

  .checkbox-selected {
    color: blue;
  }

  .report-select-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.feedback-tab {
  width: 35px;
  height: 140px;
  position: fixed;
  right: 0;
  top: 60%;
  z-index: 1;
  background: url(/img/feedback-tab.png);
  @include transition(transform 0.3s);
  cursor: pointer;

  &:active {
    @include translate3d(2px, 0, 0);
    @include transition(transform 0.05s);
  }
}

.feedback-modal {
  textarea {
    width: 100%;
    @include box-sizing(border-box);
    margin-right: 10px;
  }
}

.report-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  overflow: auto;
  width: 90%;
  margin: -250px 0 0 -280px;
  background-color: white;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}