#report-list {
  position: absolute;
  left: $filterWidth;
  top: 0;
  bottom: 0;
  right: 0;
}

.report-container {
  position: relative;
  .container-fluid {
    padding-top: 20px;
  }

  table {
    input {
      background: rgba(255,255,255,0.3);
      color: white;
      width: 50px;
      margin-bottom: 0;
    }
  }
}