#report-list {
  position: absolute;
  left: $filterWidth;
  top: 0;
  bottom: 0;
  right: 0;
  border-left: 1px solid $grayLight;
}

.report-container {
  position: relative;
  .container-fluid {
    padding-top: 20px;
  }

  table {
    input {
      background: rgba(255,255,255,0.3);
      width: 50px;
      margin-bottom: 0;
    }
  }
}