$powersBg: $grayLighter;
$lineSpacing: 14px;
//$powersBg: $red;

@mixin powerBg($powerBg, $titleColor: $white) {
  @include gradient-vertical(lighten($powerBg, 5%), darken($powerBg, 5%));
  //background: $powerBg;
  border-left: 1px solid darken($powerBg, 7%) !important;
  border-right: 1px solid darken($powerBg, 7%) !important;

  &:hover, &:active, {
    background: lighten($powerBg, 5%);

    .power-title {
      color: lighten($titleColor, 5%);

      i {
        color: lighten($titleColor, 5%);
      }
    }
  }

  &:active:not(.disabled), &.open {
    background: darken($powerBg, 5%);
    @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.2));

    .power-title {
      color: $titleColor !important;
      i {
        color: $titleColor;
      }
    }
  }

  .power-title {
    color: $titleColor;
  }
}




.powers {
  @include box-sizing(border-box);
  width: 100%;
  height: 41px;
  position: relative;
  @include gradient-vertical(lighten($powersBg, 10%), darken($powersBg, 10%));
  @include box-shadow(inset 0 1px 4px rgba(255, 255, 255, 0.2));
  border-bottom: 1px solid darken($powersBg, 30%);

  & > div {
    // Precompile issues
    display: inline-block;
  }

  .power-search {
    position: relative;
    display: inline-block;

    input {
      margin: 0;
      padding: 5px 9px;
      margin-bottom: 1px;
    }
  }

  .power {
    @include box-sizing(border-box);
    @include gloss(0px);
    position: relative;
    display: inline-block;
    border-right: 1px solid $borderGray !important;
    border-left: 0px solid transparent;
    border-top: none !important;
    cursor: pointer;

    &.green {
      @include powerBg($green);
    }

    &.red {
      @include powerBg($red);
    }

    &.orange {
      @include powerBg($orange);
    }

    &.blue {
      @include powerBg($blue);
    }

    &.power-logo {
      height: 100%;
      border-right: none !important;
      padding: 7px 63px 4px;
    }

    &.power-right {
      float: right;
      border-left: 1px solid $borderGray !important;
      border-right: none !important;

      .power-menu {
        right: 0;
      }
    }

    &.power-left {
      .power-menu {
        left: 0;
      }
    }

    &:hover {
      background: lighten($powersBg, 5%);

      .power-title {
        color: darken($gray, 15%);
      }
    }

    &:active:not(.disabled), &.open {
      background: darken($powersBg, 5%);
      @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.2));
    }

    &:not(:first-child){
      margin-left: -4px;
    }

    &.open {
      .power-title {
        color: darken($gray, 15%);
      }

      .power-menu {
        display: block;
      }

      .power-title::after {
        //content: '\f106';
      }
    }

    // Disabled state
    &.disabled,
    &[disabled] {
      cursor: default;
      @include opacity(25);
      @include box-shadow(none);
    }

    .power-title {
      font-size: 12px;
      padding: 10px 15px;
      font-weight: bold;
      text-transform: uppercase;
      color: $gray;
      text-align: center;

      i {
        font-size: 14px;
        cursor: pointer;
      }

      &.power-icon-dropdown::after {
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        text-decoration: inherit;
        -webkit-font-smoothing: antialiased;
        display: inline;
        content: '\f107';
        padding-left: 7px;
      }
    }

    .power-menu {
      position: absolute;
      display: none;
      top: 100%;
      background: $white;
      min-width: 200px;
      border: 1px solid $borderGray;
      z-index: $zindexDropdown;
      @include border-radius(2px);
      @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
      padding: 10px 0;

      li {
        padding: 5px 15px;

        &.active {
          background: $blue;

          i {
            font-weight: bold;
            color: $white;
          }
          a {
            font-weight: bold;
            color: $white;
          }
          strong {
            color: $white;
          }

        }

        a {
          text-decoration: none;
          color: $black;
        }

        i {
          color: $gray;
          font-size: 12px;
          margin-right: 5px;
        }

        &:hover {
          background: $blue;
          cursor: pointer;

          a, i {
            color: $white;
          }
        }
      }
    }
  }
}


@-moz-document url-prefix() {
    .powers .power:not(:first-child) {
      margin-left: -4px;
    }

    .powers .power:first-child {
      margin-right: 0px;
    }
}

// Styles for IE10
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .powers .power:not(:first-child) {
    margin-left: -4px;
  }

  .powers .power:first-child {
    margin-right: 0px;
  }
}