<header>
</header>

<div class="main-container" spinner="getActive().details.$spinner" spinner-size="large">
    <!--FILTERS BEGIN-->
    <div id="Filter" ng-controller="FilterController">
        <div class="powers">
            <div power="newPower" power-tooltip="Clear Search" power-tooltip-placement="right"></div>
            <div power="loadPower"></div>
        </div>
        <div class="scroll-container">
            <div class="filter-container">
            <div class="saved-search">

                <div class="dropdown saved-dropdown">

                    <div class="btn-group">
                        <button class="btn saved-dropdown" tooltip="Refresh" tooltip-placement="bottom"
                                ng-click="refreshSearch()">
                            <!--<i class="icon-refresh"></i>-->
                            {{attributes.title || "New Search"}}
                        </button>
                        <button class="btn btn-search-save"
                                ng-class="{'disabled': !attributes.modified, 'btn-success': attributes.modified}"
                                tooltip="Save" tooltip-placement="bottom"
                                ng-click="openSaveDialog()">
                            <i class="icon-save"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!--Range sliders-->
            <ul class="nav nav-list" ng-repeat="range in attributes.toArray().range | orderBy:orderByWeight()" slider>
                <li class="nav-header" ng-click="sortBy(range)">
                    {{range.title}} &nbsp;
                    <sort-arrow></sort-arrow>
                    <div style="float:right;">{{range.lowSelected}} - {{range.highSelected | checkBounds:range.bound}}
                    </div>
                </li>
                <div class="slider"></div>
            </ul>

            <!--Discreet Filters-->
            <div ng-repeat="discreet in attributes.toArray().discreet | orderBy:orderByWeight()">
                <div class="nav-header" ng-click="discreet.collapse = !discreet.collapse">
                    {{discreet.title}} &nbsp;
                    <i ng-class="{'icon-chevron-up': !discreet.collapse, 'icon-chevron-down': discreet.collapse}"
                       style="float:right;"></i>
                </div>

                <ul class="nav nav-list" collapse="discreet.collapse">
                    <li ng-class="{'active': value.isSelected }" ng-repeat="value in discreet.values">
                        <a ng-click="toggleDiscreet(value)" href="javascript:">
                            {{value.title | ellipsis:26}}
                        <span ng-show="value" class="badge {{value.badge}}"
                              style="float:right;">{{value.predict}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div></div>
    </div>
    <!--FILTERS END-->

    <!--LIST BEGIN-->
    <div id="MarketList" ng-controller="ListController">
        <div class="powers">
            <div power="reportPower" power-tooltip="Download Report" power-tooltip-placement="bottom"></div>
            <div power="sortPower" power-tooltip="Sort" power-tooltip-placement="bottom"></div>
            <div power="showPower" power-tooltip="Show" power-tooltip-placement="bottom"></div>
            <div class="power-search">
                <input type="text" ng-model="searchText.title"
                   placeholder="Search">
            </div>
        </div>

        <div class="scroll-container"
             chunk="items | filter:searchText | limitVisible | orderBy:orderNA()">
            <!--Toggle favorites button-->
            <!--Item boxes display-->
            <div class="market-list-wrap">
                <div class="list-status">
                    Displaying <strong>{{getVisibleLength()}}</strong> Results
                </div>
                <div class="item-well"
                     ng-class="{'item-hidden': item.hidden}"
                     ng-repeat="item in chunk"
                     spinner="item.$spinner">
                    <!--Thumbnail preview button-->

                    <!--Top bar of item box-->
                    <div class="dimensions clearfix">
                        <!--Location Button-->
                        <a href="javascript:" class="btn location" ng-class="{'disabled': !item.location}"
                           ng-click="panTo(item)" tooltip="Show on Map">
                            <i class="icon-map-marker"></i>
                        </a>

                        <div class="header-container">
                            <div class="title"><a href="javascript:" ng-click="showItemDetails(item, 'details')">{{item.title | ellipsis:25}}</a></div>
                            <div class="ranges">
                                <span>{{item.getAttribute('numUnits')}}&nbsp;</span>Units.&nbsp;
                                Built in<span>&nbsp;{{item.getAttribute('yearBuilt')}}</span>.
                            </div>
                        </div>
                    </div>

                    <a ng-click="showItemDetails(item, 'pictures')" class="preview" ng-show="!item.hidden">
                        <div class="preview-mask"><i class="icon-search"></i></div>
                        <img ng-src="{{item.thumbnail}}" alt="">

                        <div class="preview-caption" ng-class="item.getStatusClass('solid')">
                            <h2>{{item.getAttribute('propertyStatus')}}</h2>

                            <p>View Photos</p>
                        </div>
                    </a>

                    <div class="description" collapse="item.hidden">
                        <div class="text-container">
                            <p>{{item.description | ellipsis:110}} </p>
                        </div>
                    </div>

                    <div class="footer">
                        <div class="user-options">
                            <!--Toggle favorite button-->
                            <div class="footer-button" tooltip="Add to Favorites" ng-click="toggleFavorites(item)">
                                <i class="icon-star" ng-class="{'yellow': item.favorites}"></i>
                            </div>

                            <!--Toggle hidden button-->
                            <div class="footer-button" tooltip="Hide" ng-click="toggleHidden(item)">
                                <i class="icon-ban-circle" ng-class="{'red': item.hidden}"></i>
                            </div>

                            <div class="footer-button" tooltip="Take Notes"
                                 ng-click="showItemDetails(item, 'comments')">
                                <i class="icon-pencil"></i>
                            </div>

                            <!--Contact broker button-->
                            <div class="footer-button" ng-click="showItemDetails(item, 'contact')"
                                 tooltip="Contact Broker">
                                <i class="icon-envelope"></i>

                                <span>{{item.getAttribute('broker')}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--LIST END-->

    <!--Map-->
    <div class="map-container desktop">
        <div class="powers">
            <div power="mapPower"></div>
        </div>

        <div class="map-wrap">
            <div map></div>
        </div>
    </div>
    <!--<div map></div>-->
</div>
