<header>
    <a class="logo" href="/"></a>

    <div class="navbar market-controls">
        <ul class="nav" style="margin-left:15px;">
            <li ng-class="{'active': toggle == 'all'}" tooltip="Display All" tooltip-placement="bottom">
                <a ng-click="refreshItems()" href="javascript:"><i class="icon-list"></i></a>
            </li>
            <li ng-class="{'active': toggle == 'favorites'}" tooltip="My Favorites" tooltip-placement="bottom">
                <a ng-click="listFavorites()" href="javascript:"><i class="icon-star"></i></a>
            </li>
            <li ng-class="{'active': toggle == 'hidden'}">
                <a ng-click="listHidden()" href="javascript:" tooltip="My Hidden" tooltip-placement="bottom"><i
                        class="icon-ban-circle"></i></a>
            </li>
            <li ng-class="{'active': toggle == 'notes'}">
                <a ng-click="listNotes()" href="javascript:" tooltip="My Notes" tooltip-placement="bottom"><i
                        class="icon-pencil"></i></a>
            </li>
            <li>
                <form class="navbar-search">
                    <input type="text" class="search-query input-medium" ng-model="searchText.title"
                           placeholder="Search">
                </form>
            </li>
        </ul>
    </div>

    <div class="navbar">
        <ul class="nav pull-right" style="padding-top:4px">
            <li><a href="/account/">My Account</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</header>

<div class="main-container" spinner="getActive().details.$spinner" spinner-size="large">
    <!--FILTERS BEGIN-->
    <div id="Filter" ng-controller="FilterController">
        <div class="filter-container">
            <div class="saved-search">
                <!--Saved search dropdown-->
                <!--Save search button-->

                <div class="dropdown saved-dropdown">

                    <div class="btn-group">
                        <button class="btn saved-dropdown" tooltip="Reset" tooltip-placement="bottom"
                                ng-click="refreshSearch()">
                            <!--<i class="icon-refresh"></i>-->
                            {{attributes.title || "New Search"}}
                        </button>
                        <button class="btn btn-search-save"
                                ng-class="{'disabled': !attributes.modified, 'btn-success': attributes.modified}"
                                tooltip="Save" tooltip-placement="bottom"
                                ng-click="openSaveDialog()">
                            <i class="icon-save"></i>
                        </button>
                        <a class="btn dropdown-toggle"><i class="icon-caret-down"></i></a>
                    </div>


                    <ul class="dropdown-menu">
                        <li><a href="javascript:" ng-click="loadSearch()">New Search</a></li>
                        <li class="divider"></li>
                        <li ng-repeat="saved in savedSearches">
                            <a href="javascript:" ng-click="loadSearch(saved)">{{saved.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!--Range sliders-->
            <ul class="nav nav-list" ng-repeat="range in attributes.range" slider>
                <li class="nav-header" ng-click="sortBy(range)">
                    {{range.title}} &nbsp;
                    <sort-arrow></sort-arrow>
                    <div style="float:right;">{{range.lowSelected}} - {{range.highSelected}}</div>
                </li>
                <div class="slider"></div>
            </ul>

            <!--Discreet Filters-->
            <div ng-repeat="discreet in attributes.discreet">
                <div class="nav-header" ng-click="discreet.collapse = !discreet.collapse">
                    {{discreet.title}} &nbsp;
                    <i ng-class="{'icon-chevron-up': !discreet.collapse, 'icon-chevron-down': discreet.collapse}"
                       style="float:right;"></i>
                </div>

                <ul class="nav nav-list" collapse="discreet.collapse">
                    <li ng-class="{'active': value.isSelected }" ng-repeat="value in discreet.values">
                        <a ng-click="filterByDiscreet(discreet, value)" href="javascript:">
                            {{value.title | ellipsis:26}}
                        <span ng-show="value" class="badge {{value.badge}}"
                              style="float:right;">{{value.predict}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--FILTERS END-->

    <!--LIST BEGIN-->
    <div id="MarketList" ng-controller="ListController">
        <div class="market-scroll"
             chunk="items | filter: searchText | limitVisible | orderBy: sortByRange('Year Built')">
            <!--Toggle favorites button-->
            <!--Item boxes display-->
            <div class="market-wrap">
                <div id="item-{{item.id}}" class="item-well"
                     ng-class="{'item-hidden': item.hidden}"
                     ng-repeat="item in chunk"
                     spinner="item.$spinner">
                    <!--Thumbnail preview button-->

                    <!--Top bar of item box-->
                    <div class="dimensions clearfix">
                        <!--Location Button-->
                        <a href="javascript:" class="btn location" ng-click="panTo(item)" tooltip="Show on Map">
                            <i class="icon-map-marker"></i>
                        </a>

                        <div class="header-container">
                            <div class="title"><a href="javascript:" ng-click="showItemDetails(item, 'Details')">{{item.title |
                                ellipsis:25}}</a></div>
                            <div class="ranges">
                                <span>{{item.attributes.range["Number of Units"]}}&nbsp;</span>Units.&nbsp;
                                Built in<span>&nbsp;{{item.attributes.range["Year Built"]}}</span>.
                            </div>
                        </div>
                    </div>

                    <div class="preview" ng-show="!item.hidden" ng-click="showItemDetails(item, 'Pictures')">
                        <div class="preview-mask"><i class="icon-search"></i></div>
                        <img ng-src="{{item.thumbnail}}" alt="">

                        <div class="preview-caption" ng-class="getStatusClass(item.getAttribute('Property Status'))">
                            <h2>{{item.getAttribute("Property Status") || "Not Available"}}</h2>

                            <p>View Photos</p>
                        </div>
                    </div>

                    <div class="description" collapse="item.hidden">
                        <div class="text-container">
                            <p>{{item.description | ellipsis:100}} </p>
                        </div>
                    </div>

                    <div class="footer">
                        <div class="user-options">
                            <!--Toggle favorite button-->
                            <div class="footer-button" tooltip="Add to Favorites" ng-click="toggleFavorites(item)">
                                <i class="icon-star" ng-class="{'yellow': item.favorites}"></i>
                            </div>

                            <!--Toggle hidden button-->
                            <div class="footer-button" tooltip="Hide" ng-click="toggleHidden(item)">
                                <i class="icon-ban-circle" ng-class="{'red': item.hidden}"></i>
                            </div>

                            <div class="footer-button" tooltip="Take Notes" ng-click="showItemDetails(item, 'Comments')">
                                <i class="icon-pencil"></i>
                            </div>

                            <!--Contact broker button-->
                            <div class="footer-button" ng-click="showItemDetails(item, 'Contact')" tooltip="Contact Broker">
                                <i class="icon-envelope-alt"></i>

                                <span>{{item.getAttribute("Broker")}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--LIST END-->

    <!--Map-->
    <div map></div>
</div>

<div id="Footer">
    <p><a href="javascript:">Copyright 2012 REscour</a></p>
</div>