<div id="report-list" ng-controller="ReportCtrl">
    <div class="powers">
        <div class="power"
             ng-class="{'blue': reportPower.isSelected}"
             ng-click="reportPower.action()"
             tooltip="{{ reportPower.tooltip.text }}"
             tooltip-placement="{{ reportPower.tooltip.placement }}">
            <div class="power-title">
                <i ng-class="reportPower.icon"></i>
            </div>
        </div>
        <div power="sortPower" power-tooltip="Sort" power-tooltip-placement="bottom"></div>
        <div power="showPower" power-tooltip="Show" power-tooltip-placement="bottom"></div>
        <div power="exportPower" power-tooltip="Export to CSV" power-tooltip-placement="bottom"></div>
        <div class="power-search">
            <input type="text" ng-model="searchText.title"
                   placeholder="Search {{items.length}} Properties">
        </div>
        <div power="accountPower"></div>
    </div>
    <div class="report-container">
        <div ui-if="propertyDetails.isOpen" ng-include="propertyDetails.templateUrl"></div>
        <div class="scroll-container" chunk="filteredItems = (items | filter:searchText | limitVisible)"
             chunk-size="30">
            <div class="container-fluid">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date Posted</th>
                        <th>Year Built</th>
                        <th># Units</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Type</th>
                        <th ng-repeat="financeKey in defaultFinances">{{financeKey}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in chunk">
                        <td><a ng-href="?id={{item.id}}#details">{{item.title}}</a></td>
                        <td>{{item.datePosted | date}}</td>
                        <td>{{item.yearBuilt}}</td>
                        <td>{{item.numUnits}}</td>
                        <td>{{item.getAddress()}}</td>
                        <td>{{item.propertyStatus}}</td>
                        <td>{{item.propertyType}}</td>
                        <td ng-repeat="finance in item.resources.finances" spinner="finance.$spinner" spinner-size="xs" spinner-options="{left: '41px'}">
                            <input type="text" ng-model="finance.value"
                                   ng-blur="finance.$save()">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>