.main-footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  height: $footerHeight;
  padding: 3px;
  font-size: 11px;
  background-color: $light-gray;
  border-top: 1px solid darken($light-gray, 20%);
  z-index: 3000;
  text-align: center;
  @include box-sizing(border-box);
  //border-bottom: 4px solid $red;

  ul {
    display:inline-block;
    list-style: none;

    li {
      display: inline-block;
      padding: 0 5px;
      margin: 0 5px;

      a {
        text-decoration: none;
      }
    }
  }

  //p, a {
  //  text-align: center;
  //  margin: 7px !important;
  //
  //  img {
  //    height: 24px;
  //  }
  //}
}