header {
  position: relative;
  border-top: 4px solid #993333;
  //@include box-shadow(3px 1px 5px $dark-gray);
  border-bottom: darken(#d5d5d5, 30%);
  @include gradient-vertical(#ffffff, #d5d5d5);
  width: 100%;
  z-index: 1;



  .navbar-search {
    position: absolute;
    margin-top: 10px;
    left: $filterWidth;

    input {
      width: 150px;
      @include transition(width .3s);
    }

    input:focus {
      width: 200px;
      @include transition(width .3s);
    }
  }

  .market-controls {
    position: absolute;
    padding-top: 4px;
    left: $filterWidth;
    width: $marketWidth - 2px;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    height: 46px;
  }
}