$powersBg: $grayLighter;
$lineSpacing: 14px;
//$powersBg: $red;

.powers {
  @include box-sizing(border-box);
  width: 100%;
  min-height: $lineSpacing*2;
  position: relative;
  @include gradient-vertical(darken($powersBg, 10%), lighten($powersBg, 10%));
  border-top: 1px solid darken($powersBg, 20%);
  @include box-shadows(inset 0 1px 0 lighten($powersBg, 20%), 0 2px 2px rgba(0, 0, 0, 0.4));
  z-index: 5000;
  padding: 0 10px;

  .power {
    @include box-sizing(border-box);
    position: relative;
    display: inline-block;
    border-right: 1px solid darken($powersBg, 20%);
    border-left: 1px solid darken($powersBg, 20%);

    &:hover {
      background: lighten($powersBg, 5%);
      border-left: 1px solid darken($powersBg, 20%);

      .power-title {
        color: darken($gray, 15%);
      }
    }

    &:active, &.open {
      background: darken($powersBg, 5%);
      @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.2));
      border-left: 1px solid darken($powersBg, 20%);
    }

    &.open {
      .power-title {
        color: darken($gray, 15%);
      }
    }

    &:not(:first-child) {
      margin-left: -5px;
    }

    &:first-child {

    }

    &.open {

      & > .power-menu {
        display: block;
      }

      & > .power-title::after {
        content: '\f106';
      }
    }

    .power-title {
      font-size: 12px;
      padding: $lineSpacing/2 $lineSpacing;
      cursor: pointer;
      font-weight: bold;
      text-transform: uppercase;
      color: $gray;

      &::after {
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        text-decoration: inherit;
        -webkit-font-smoothing: antialiased;
        display: inline;
        content: '\f107';
        padding-left: $lineSpacing;
      }
    }

    .power-menu {
      position: absolute;
      left: 0;
      display: none;
      background: gray;
      min-width: 100%;
      padding: 15px;

      ul {
        li {
        }
      }
    }
  }

}