$filterWidth: 245px;
$blue: #0088cc;
$dark-blue: #005580;
$light-blue: #99ccff;
$dark-gray: #333333;
$gray: #5F5F5F;
$light-gray: $grayLighter;
$green: #468847;
$burgundy: #a03123;
$light-green: #82BF44;
$marketWidth: 402px;
$headerHeight: 50px;
$footerHeight: 35px;


@mixin header_text($font_size: 12px){
  font-size: $font_size;
  color: $gray;
  span {
    font-weight: bold;
  }
}

@mixin rescourBoxShadow {
  @include box-shadows(0px 0px 1px 1px rgba(80, 84, 92, 0.0980392), 0px 1px 2px 0px rgba(80, 84, 92, 0.498039));
}

@mixin rescourTabs {

  &.status-expired .nav-tabs > li {
    background: $red;
  }

  &.status-marketing .nav-tabs > li {
    background: $green;
  }

  &.status-under .nav-tabs > li {
    background: $orange;
  }

  &.status-unknown .nav-tabs > li {
    background: $grayDark;
  }

  .tabbable {
    @include rescourBoxShadow;
    background-clip: border-box;
    margin-bottom: 25px;
    margin-right: 35px;
    padding-bottom: 20px;
    @include border-radius(5px);
    background: white;

    .tab-content {
      overflow: visible;
    }

    .nav-tabs {
      @include gradient-vertical(lighten($detailsHeaderColor, 5%), darken($detailsHeaderColor, 5%));
      border-bottom: 1px solid darken($detailsHeaderColor, 20%);
      @include border-top-left-radius(5px);
      @include border-top-right-radius(5px);

      & > li {
        //background: $red;
        border-right: 1px solid darken($detailsHeaderColor, 20%);
        & > a {
          @include gradient-vertical(lighten($detailsHeaderColor, 5%), darken($detailsHeaderColor, 5%));
          margin: 0;
          @include translate(0, 0);
          box-sizing: border-box;
          padding: 15px 20px;
          color: $black;
          border:none;
          border-bottom: 1px solid darken($detailsHeaderColor, 20%);
          text-shadow: rgb(255, 255, 255) 2px 1px 0px;
          //@include transition(all 0.3s ease);
        }

        & > a:hover {
          @include gradient-vertical($detailsHeaderColor, $detailsHeaderColor);
        }
      }

      & > .active > a, & > .active > a:hover {
        @include translate(0, 5px);
        border-bottom: 1px solid white;
        @include gradient-vertical(#FFFFFF, #FFFFFF);
        @include transition(all 0.3s ease);
      }

      & > li.active {
        border-right: 1px solid darken($detailsHeaderColor, 20%);
        &:first-child {
          @include border-top-left-radius(5px);
          border-left: none;
        }

      }
    }
  }

  .tab-content {
    margin-top: 5px;
  }
}


@mixin plan($planColor) {
//height: 350px;
  background-color: lighten($planColor, 10%);
  @include border-radius(2px);
  border: 10px lighten($planColor, 20%) solid;
  color: white !important;
  @include transition(all 1s ease);
  margin-top: 30px;

  h2 {
    text-align: center;
    font-size: 32px;
    margin: 20px;
  }

  .price {
    position: relative;
    width: 100px;
    height: 100px;
    @include border-radius(50%);
    background-color: darken($planColor, 5%);
    margin: 0 auto;

    .amount {
      position: relative;
      line-height: 90px;
      text-align: center;

      .currency {
        position: absolute;
        top: -3px;
        left: 14px;
        font-size: 16px;
      }

      .currency-amount {
        text-align: center;
        display: inline-block;
        font-size: 28px;
        font-weight: bold;
      }

      .period {
        font-size: 14px;
        position: absolute;
        top: 23px;
        left: 30px;
      }
    }
  }

  ul {
    margin: 15px 0 0 0 !important;
    text-align: center;

    li {
      padding: 3px;

      &.plan-action {
        margin: 30px 0;
      }
    }
  }

  &:hover {
    background-color: lighten($planColor, 20%);
    border: 10px lighten($planColor, 10%) solid;
    @include transition(all 1s ease);
  }
  .plan-submit {
    @include buttonBackground(darken($planColor, 15%), darken($planColor, 20%));
    font-size: 13px;
    width: 50%;

    &.plan-cancel {
      @include buttonBackground(darken($red, 15%), darken($red, 20%));
    }
  }
}

@mixin mask {
  @include transition(all .5s);
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  display: none;
  background: none;

  &.active {
    @include transition(all .5s);
    display: block;
    background: rgba(0, 0, 0, 0.5);
  }
}

.status-expired-gradient {
  @include buttonBackground($btnDangerBackground, $btnDangerBackgroundHighlight);
}

.status-marketing-gradient {
  @include buttonBackground($btnSuccessBackground, $btnSuccessBackgroundHighlight);
}

.status-under-gradient {
  @include buttonBackground($btnWarningBackground, $btnWarningBackgroundHighlight);
}

.status-unknown-gradient {
  @include buttonBackground($btnInverseBackground, $btnInverseBackgroundHighlight);
}


.status-expired-solid {
  background: $red !important;
}

.status-marketing-solid {
  background: $green !important;
}

.status-under-solid {
  background: $orange !important;
}

.status-unknown-solid {
  background: $grayDark !important;
}

