@import "compass";
@import "compass/reset";
@import "compass_twitter_bootstrap";
@import "rescour_variables";
@import "app/market/styles/market";
@import "app/login/styles/login";
@import "app/account/styles/account";
@import "header";
@import "footer";
@import "ngform";
@import "powers";
@import "input_dropdown";
@import "thotpod_btn";

.loading-background {
  position: absolute; left: 0px; top: 0px; bottom:0px; right: 0px; background: $light-gray; z-index: 5;
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 200px;
  margin-left: -200px;
  margin-top: -100px;
  text-align: center;

  h4 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
    color: $gray;
  }

  p {
    margin-top: 10px;
    font-size: 14px;
    color: lighten($gray, 10%);
  }

  .loading-icon {
    text-shadow: #666 0 -1px 0;
    color: $gray;
  }

  .failure-icon {
    text-shadow: darken($red, 25%) 0 -1px 0;
    color: $red;
    margin-bottom: 1em;
  }
}

.origami-left {
  position: absolute;
  top: 0;
  left: 0;
  background: url(/img/origami_left.png) top left no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.origami-right {
  position: absolute;
  top: 0;
  right: 0;
  background: url(/img/origami_right.png) top right no-repeat;
  width: 817px;
  height: 547px;
  z-index: -1;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

header, section, footer {
  display: block;
}

body {
  min-height: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: $dark-gray;
  background-color: $grayLighter;
}

#Wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: $light-gray;
}

.main-container {
  position: absolute;
  top: 4px;
  left: 0;
  right: 0;
  bottom: $footerHeight;
}

.yellow {
  color: $yellow;
}

.red {
  color: $red;
}

/* Scroll Bar */
::-webkit-scrollbar, ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  @include border-radius(5px);
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
  background-color: darken($grayLight, 20%);
  @include border-radius(5px);
  @include box-shadow(rgba(0, 0, 0, 0.05) -1px 0 7px inset);
}

::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-corner, ::-webkit-scrollbar-corner {
  display: none;
}


.status-expired-gradient {
  @include tpBtnBg($btnDangerBackground);
}

.status-marketing-gradient {
  @include tpBtnBg($btnSuccessBackground);
}

.status-under-gradient {
  @include tpBtnBg($btnWarningBackground);
}

.status-unknown-gradient {
  @include tpBtnBg($btnInverseBackground);
}


.status-expired-solid {
  background: $red !important;
}

.status-marketing-solid {
  background: $green !important;
}

.status-under-solid {
  background: $orange !important;
}

.status-unknown-solid {
  background: $grayDark !important;
}

.leaflet-label-overlay {
  color: white;
  font-size: 18px;
  line-height:0px;
  margin-top: 9px;
  position: absolute;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
