<div class="module module--bordered">
    <header class="module__header">
        <h5>Frequently Asked Questions</h5>
    </header>
    <div class="module__body">
        <div class="row">
            <div class="col-lg-12">
                <div class="module module--skinny module--info module--triangle-left">
                    <header class="module__header">
                        <h6>Why Rescour?</h6>
                    </header>
                    <div class="module__body">
                        <p>REscour is the only application built specifically for institutional investors trying to find
                            and track multi-family listings.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="module module--skinny module--info module--triangle-left">
                    <header class="module__header">
                        <h6>Still not convinced?</h6>
                    </header>
                    <div class="module__body">
                        <p>Head over to our Frequently Asked Questions section, or check out the <a
                                href="http://demo.rescour.com" target="_blank">demo application</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>