header {
  position: relative;
  border-top: 4px solid #993333;
  @include box-shadow(3px 1px 5px $dark-gray);
  @include background(linear-gradient(bottom, #d5d5d5, #fff));
  width: 100%;
  height: $headerHeight;
  z-index: 5;

  .logo {
    margin: 10px 0px 5px 45px;
    background: url('../../../img/logo.png') no-repeat center;
    height: 35px;
    width: 143px;
    position: relative;
    float: left;
  }

  .market-controls {
    position: absolute;
    padding-top:4px;
    left: 245px;
    width: 400px;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    height: 46px;
  }
}