<table>
    <tr>
        <td class="view-inner" ng-repeat="image in images" ng-show="image.isActive">
            <img ng-src="{{imageUrl + image.id}}">
        </td>
        <td class="viewer-control left" ng-click="prev()" ng-show="slides.length > 1"><i class="icon-chevron-left"></i></td>
        <td class="viewer-control right" ng-click="next()" ng-show="slides.length > 1"><i class="icon-chevron-right"></i></td>
    </tr>
</table>
<div class="counter">{{current + 1}} of {{slides.length}}</div>
