<div id="Filter" ng-controller="FilterController">
    <div class="filter-container">
        <div class="saved-search">
            
            

            <div class="dropdown saved-dropdown">
                <div class="btn-group">
                    <button class="btn saved-dropdown" click-spin="" ng-click="refreshSearch()">
                        
                        {{attributes.title || "New Search"}}
                    </button>
                    <button class="btn" ng-class="{'disabled': !attributes.modified, 'btn-success': attributes.modified}" ng-disabled="!attributes.modified" ng-click="openSaveDialog()">
                        <i class="icon-save"></i>
                    </button>
                    <button class="btn dropdown-toggle"><i class="icon-caret-down"></i></button>
                </div>

                <ul class="dropdown-menu">
                    <li><a ng-click="loadSearch()">New Search</a></li>
                    <li class="divider"></li>
                    <li ng-repeat="saved in savedSearches">
                        <a href="javascript:" ng-click="loadSearch(saved)">{{saved.title}}</a>
                    </li>
                </ul>
            </div>
        </div>

        
        <ul class="nav nav-list" ng-repeat="range in attributes.range" slider="">
            <li class="nav-header" ng-click="sortBy(range)">
                {{range.title}} &nbsp;
                <sort -arrow=""></sort>
                <div style="float:right">{{range.lowSelected}} - {{range.highSelected}}</div>
            </li>
            <div class="slider"></div>
        </ul>

        
        <ul class="nav nav-list" ng-repeat="discreet in attributes.discreet">
            <li class="nav-header" ng-click="discreet.collapse = !discreet.collapse">
                {{discreet.title}} &nbsp;
                <i ng-class="{'icon-chevron-up': !discreet.collapse, 'icon-chevron-down': discreet.collapse}" style="float:right"></i>
            </li>

            <li ng-class="{'active': value.isSelected }" ng-repeat="value in discreet.values">
                <a ng-click="filterByDiscreet(discreet, value)" href="javascript:" collapse="discreet.collapse">
                    {{value.title}}
                    <span ng-show="value" class="badge {{value.badge}}" style="float:right">{{value.predict}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>