#Filter {
  position: absolute;
  left: 0;
  bottom: 0;
  top:0;
  width: $filterWidth;
  background-color: $light-gray;
  border-right: 1px solid $light-gray;
  z-index: 2;
  display:inline-block;

  .saved-search {
    position: relative;
    display: block;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
  }

  .saved-dropdown {
    width: 145px;
  }

  .btn-search-save {
    z-index: 1;
  }

  .slider {
    width: 206px;
  }

  .ui-widget-header {
    background: none !important;
    background-color: $red !important;
  }

  .filter-container {
    display:block;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;

    * {
      -webkit-transform: translate3d(0,0,0);
      z-index: 10;
    }
  }

  .nav {
    margin-left: 0;
    margin-bottom: 20px;
    list-style: none;
  }
  .nav > li > a {
    display: block;
  }
  .nav > li > a:hover {
    text-decoration: none;
  }
  .nav-header {
    display: block;
    padding: 5px 15px 10px 15px;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    @include header_text(11px);
    &:hover, &:active {
      color: lighten($gray, 25%);
    }
  }
  .nav-list {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    clear: both;
  }
  .nav-list > li > a,
  .nav-list .nav-header {
    margin-left: -15px;
    margin-right: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }
  .nav-list > li > a {
    padding: 3px 15px;
  }
  .nav-list > .active > a,
  .nav-list > .active > a:hover {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: $blue;
  }
  .nav-list [class^="icon-"] {
    margin-right: 2px;
  }
  .label,
  .badge {
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    color: white;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: $dark-gray;
  }
  .label {
    padding: 1px 4px 2px;
    @include border-radius(3px);
  }
  .badge {
    padding: 1px 9px 2px;
    @include border-radius(9px);
  }
  a.label:hover,
  a.badge:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .label-success,
  .badge-success {
    background-color: $green;
  }

  .label-info,
  .badge-info {
    background-color: $blue;
  }
}