@import 'details';
@import 'filter';
@import 'map';
@import 'slider';
@import 'list';



.scroll-container {
  display: block;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;

  * {
    -webkit-transform: translate3d(0,0,0);
  }
}

.report-form {
  position: relative;
  margin-top: 10px;
  min-height: 200px;
  overflow-y: scroll;

  .checkbox-selected {
    color: blue;
  }

  .report-select-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

