<header class="module__header">
    <h4>Forgot Password</h4>
</header>
<div class="module__body">
    <form class="form-horizontal" name="formForgotPassword">
        <div alert ng-repeat="alert in forgotPasswordAlerts" type="alert.type">{{ alert.text }}</div>

        <div class="form-group gutter-top" ng-class="{'has-success': formForgotPassword.email.$valid}">
            <div class="control-label col-lg-2 col-md-2 col-sm-2">Email</div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <input type="email" name="email" ng-model="creds.email" placeholder="Email" required class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-9 col-lg-offset-2 col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2">
                <button ng-disabled="formForgotPassword.$invalid" class="btn btn-danger" ng-click="emailInstructions()">Send Me Instructions</button>
            </div>
        </div>
    </form>
</div>