<div class="login-wrap" ng-cloak>
    <div class="origami-left"></div>
    <div class="origami-right"></div>
    <div class="container login">
        <div class="login-logo">
            <a href="/"><img src="/img/logo-medium.png" alt=""/></a>
        </div>
        <form name="formResetPassword" class="form-signin form-horizontal">
            <h2 class="form-signin-heading">RESET PASSWORD</h2>
            <div alert ng-repeat="alert in resetPasswordAlerts" type="alert.type">{{alert.msg}}</div>
            <div class="control-group"
                 ng-class="{'success': (formResetPassword.newPassword.$valid && formResetPassword.verifyPassword.$valid)}">
                <label class="control-label">Password:</label>

                <div class="controls">
                    <input type="password" focus-on="invalid-password" required name="newPassword"
                           ng-model="creds.newPassword"
                           password-validate
                           placeholder="Password">
                <span class="help help-inline">
                    <span class="help-success"><i class="icon-ok-sign"></i></span>
                    <span class="help-error">
                        <ul>
                            <li ng-class="pwdHasLetter"><i class="icon-ok-sign"></i><i class="icon-exclamation-sign"></i>At least <strong>one letter</strong></li>
                            <li ng-class="pwdHasNumber"><i class="icon-ok-sign"></i><i class="icon-exclamation-sign"></i>At least <strong>one number</strong></li>
                            <li ng-class="pwdValidLength"><i class="icon-ok-sign"></i><i class="icon-exclamation-sign"></i>At least <strong>8 characters long</strong></li>
                        </ul>
                    </span>
                </span>
                </div>
            </div>
            <div class="control-group"
                 ng-class="{'success': (formResetPassword.confirmPassword.$valid && formResetPassword.password.$valid)}">
                <label class="control-label">Confirm Password:</label>

                <div class="controls">
                    <input type="password" name="verifyPassword" ng-model="creds.verifyPassword"
                           placeholder="Confirm" password-verify="creds.newPassword">
                <span class="help help-inline">
                    <span class="help-error"><i class="icon-exclamation-sign"></i>Passwords do not match</span>
                    <span class="help-success"><i class="icon-ok-sign"></i></span>
                </span>
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-large btn-danger" type="submit" ng-click="resetPassword()">Reset Password</button>
            </div>
        </form>
    </div>
</div>