<div class="container-fluid" ng-controller="DetailsController">
    <div class="row-fluid">
        <div class="page-header clearfix">
            <button class="btn pull-right" ng-click="close()"><i class="icon-arrow-left"></i>&nbsp;Back to map</button>
            <h1>{{current.title}}</h1>
        </div>
        <div class="span11">
            <div tabs>
                <div pane heading="{{panes[0].heading}}" active="panes[0].active">
                    <div class="well clearfix">
                        <p class="lead">Details</p>
                        <dl class="dl-horizontal">
                            <dt>Broker:</dt>
                            <dd>{{current.getAttribute("Broker")}}</dd>
                            <dt>State:</dt>
                            <dd>{{current.getAttribute("State")}}</dd>
                            <dt>Year Built:</dt>
                            <dd>{{current.getAttribute("Year Built")}}</dd>
                            <dt>Number of Units:</dt>
                            <dd>{{current.getAttribute("Number of Units")}}</dd>
                            <dt>Description:</dt>
                            <dd>{{current.description}}</dd>
                        </dl>
                    </div>

                    <div class="well">
                        <p class="lead">Property Unit Mix</p>
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>Type</th>
                                <th>Units</th>
                                <th>Sq Ft</th>
                                <th>Rent</th>
                                <th>Rent PSF</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="mix in current.details.unitMix">
                                <td>
                                    {{mix.type}}
                                </td>
                                <td>
                                    {{mix.units}}
                                </td>
                                <td>
                                    {{mix.sqft}}
                                </td>
                                <td>
                                    {{mix.rent}}
                                </td>
                                <td>
                                    {{mix.rentpsf}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div pane heading="{{panes[1].heading}}" active="panes[1].active">
                    <div class="picture-container" ng-show="current.details.images">
                        <div carousel no-transition="true">
                            <div slide ng-repeat="slide in current.details.images" active="slide.active">
                                <img ng-src="{{slide.link}}" style="margin:auto;">

                                <div class="carousel-caption">
                                    <h4>Slide {{$index}}</h4>

                                    <p>{{slide.caption}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div pane heading="{{panes[2].heading}}" active="panes[2].active">
                    <div class="alert alert-success" ng-show="newEmail.sent"><i class="icon-email"></i>&nbsp;&nbsp;Message Sent!</div>
                    <form>
                        <div class="control-group">
                            <div class="control-label">To:</div>
                            <label class="checkbox inline" ng-repeat="contact in current.details.contacts">
                                <input type="checkbox" id="inlineCheckbox1" ng-model="contact.selected">
                                <div class="well contact" ng-class="{'contact-selected': contact.selected}">
                                    <dd><strong>{{contact.name}}</strong></dd>
                                    <dd>{{contact.phone}}</dd>
                                    <dd>{{contact.email}}</dd>
                                 </div>
                            </label>
                            <div class="controls">

                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">Message:</div>
                            <div class="controls">
                                <textarea rows="6" class="span10" ng-model="newEmail.message"></textarea>
                            </div>
                        </div>
                        <button class="btn btn-info" ng-click="sendEmail()">Send</button>
                    </form>
                </div>

                <div pane heading="{{panes[3].heading}}" active="panes[3].active">
                    <div ng-repeat="comment in current.details.notes.comments">
                        <div class="alert alert-info">
                            <strong>{{comment.timestamp | date:'MM/dd/yyyy @ h:mma'}}:</strong> {{comment.message}}
                        </div>

                    </div>
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Valuation</th>
                            <th>Price / Unit</th>
                            <th>IRR</th>
                            <th>Cap Rate</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="input-prepend">
                                    <span class="add-on">$</span>
                                    <input type="text"
                                           class="input-medium"
                                           auto-save="saveNote()"
                                           placeholder="Valuation"
                                           ng-model="current.notes.financials.valuation">
                                </div>
                            </td>
                            <td>
                                <div class="input-prepend">
                                    <span class="add-on">$</span>
                                    <input type="text" class="input-medium" auto-save="saveNote()" placeholder="Price / Unit"
                                           ng-model="current.notes.financials.ppu">
                                </div>
                            </td>
                            <td>
                                <div class="input-append">
                                    <input type="text" class="input-medium" auto-save="saveNote()" placeholder="IRR"
                                           ng-model="current.notes.financials.irr">
                                    <span class="add-on">%</span>
                                </div>
                            </td>
                            <td>
                                <div class="input-append">
                                    <input type="text" class="input-medium" auto-save="saveNote()" placeholder="Cap Rate"
                                           ng-model="current.notes.financials.cap">
                                    <span class="add-on">%</span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <form>
                        <div class="control-group">
                            <div class="control-label">Comment:</div>
                            <div class="controls">
                                <textarea rows="6" class="span10" ng-model="newComment.message"></textarea>
                            </div>
                        </div>


                        <div class="form-actions">
                            <button type="submit" class="btn btn-success" ng-click="addComment(newComment.message)">Add Note</button>
                            <button type="button" class="btn" ng-click="close()">Cancel</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
