<div class="feedback-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h3 id="myModalLabel">Feedback</h3>
    </div>
    <div class="modal-body">
        <div alert ng-repeat="alert in alerts" type="alert.type">{{ alert.text }}</div>
        <p class="gutter-bottom">Want a property added to REscour?  Need help?  <strong>Please let us know.</strong></p>

        <form name="formFeedbackDialog" class="form-horizontal">
            <textarea ng-model="feedback.text" rows="4" placeholder="Insert feedback here."></textarea>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="close()">Close</button>
        <button class="btn btn-primary" ng-click="sendFeedback()">Continue</button>
    </div>
</div>