<div class="tab-pane" ng-class="{active: panes[4].active}">
    <div class="container-fluid finance-container">
        <div class="row-fluid">
            <div class="span12">
                <form novalidate class="form-horizontal">
                    <legend></legend>
                    <div class="control-group" ng-repeat="finance in activeMDU.resources.finances">
                        <a href="javascript:" class="finance-delete" ng-click="deleteFinance(finance)">
                            <i class="icon-remove-sign"></i>
                        </a>

                        <div class="control-label">
                            <input placeholder="Click to edit" name="name"
                                   class="edit-label"
                                   type="text" ng-model="finance.name"
                                   typeahead-select="field for field in financeFields | filter:$viewValue">
                            <i class="icon-pencil"></i>
                        </div>

                        <div class="controls">
                            <input placeholder="Value" type="text" format-input="{{finance.valueFormat}}"
                                   name="value"
                                   ng-blur="saveFinance(finance)" ng-model="finance.value"
                                   class="input-large">
                            <select ng-options="format.valueFormat as format.icon for format in valueFormats"
                                    class="finance-class"
                                    ng-model="finance.valueFormat" ng-change="saveFinance(finance)"></select>

                            <div class="control-spinner" spinner="finance.$spinner"></div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <a href="javascript:" class="btn" ng-click="addFinance()">Add Finance Note</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>